.profile__description {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px 0px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 621px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 8px;
    }
}